@import "normalize.scss";

// === Mixins ===
@mixin logo-font {
  font-family: 'Pacifico', cursive;
}
@mixin header-font {
  font-family: 'Bebas Neue', cursive;
}
@mixin main-font {
  font-family: 'Arimo', sans-serif;
}

// === /Mixins ===
// === Variables ===
// === /Variables ===

body {
  box-sizing: border-box;
}

h1 {
  display: block;
  width: 600px;
  height: 600px;
  background-color: #fff;
}
